<div class="container">
    <h2>All Projects</h2>
    <ng-container *ngFor="let course of courses">
        <div class="course-container">
            <div class="course-card">
                <div>
                    <img [src]="course.image" style="width:220px; height:140px; border-top-right-radius: 15px; border-top-left-radius: 15px;">
                </div>
                <div class="course-name"><h4>{{ course.name}}</h4></div>
                <div class="course-description"><p>{{course.description.slice(0, 80)}}...</p></div>
                <div class="details d-flex justify-content-center">
                    <div class="course-type" [ngStyle]="{color: course.type === 'Solo Project' ? 'Green' : 'Red'}">{{course.type}}</div>
                </div>
                <div class="course-buttons d-flex justify-content-center">
                    <button class="btn btn-show" routerLink="/projects/project/{{course.id}}">Show Deatils</button>
                </div>
            </div>
        </div>  
    </ng-container>
</div>

