<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-left mt-3 bg-primary w-25 mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2023</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">Netaji Subhas University of Technology
               </h4>
               <ul>
                <li> Netaji Subhas University of Technology is a deemed University. </li>
                    <li>I Completed B.Tech in Computer Science Engineering with <b>7.65 CGPA</b>.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2018</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Bhai Parmanand VidyaMandir
               </h4>
               <ul>
                <li>
                  Subjects like physics, mathematics and chemistry were the main focus.
                                  </li>
                                  <li>
                                    Computer Science was my optional subjects.
                                  </li>
                                  <li>
                                    English was the compulsary subject.
                                  </li>
                                  <li>
                                      Completed my Higher Secondary with<b> 92.4%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2016</p>
              <div class="h5">Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Bal Bharti Public School
               </h4>
               <ul>
                <li>The subjects like Maths , English , Science, Social Science, Hindi and Physical education were taught.
                </li>
               
                <li>
                    I Completed my Secondary school with <b> 89%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

