<div class="project-container">
    <div>
        <img src="{{project.image}}" width="560" height="280">
    </div>
    <div>
        <h1 style="text-align: center;">{{project.name}}</h1>
    </div>
    <div class="project-details">
        <div style="margin: 0px 50px;"><b>Duration: </b>{{project.duration}} Months</div>
        <div style="margin: 0px 50px;"><b>Type: </b>{{project.type}}</div>
    </div>
    <div style="margin: 20px 10px;">
        <p>{{project.description}}</p>
    </div>
    <div>
        <a href="{{project.link}}" style="margin-left: 200px; ">Show More</a>
    </div>
</div>